<div class="logo">
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ecd51263-bb0f-4465-af86-f7ed25e58e70/degn1d8-963da678-da92-4dbd-acc5-8c9e9a9b34e2.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VjZDUxMjYzLWJiMGYtNDQ2NS1hZjg2LWY3ZWQyNWU1OGU3MFwvZGVnbjFkOC05NjNkYTY3OC1kYTkyLTRkYmQtYWNjNS04YzllOWE5YjM0ZTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HSiLqBk_Qlby8vbuIwv0M7MLx3jkoGsv8N45zDQ_Tg8" 
  width="500" height="140">
</div>
<div class="A-carta">
<modal #modal>
  <div class="tudo">
  <select [(ngModel)]="cartaId" class="carta">
    <option *ngFor="let carta of deck" value="{{carta.id}}">
      {{carta.name}}
    </option>
  </select>
  <button (click)="verify()" class="botao">Verify</button>
</div>
<br>
  <div class="imagem">
    <img src="{{imagem_carta}}" width="300" height="420">
  </div>
  </modal>
</div>

<img src="https://www.clipartmax.com/png/full/116-1169119_millennium-history-clipart-yugioh-millenium-puzzle.png" width="220" height="200" class="milleniumPuzzle">
<img src="https://www.clipartmax.com/png/full/116-1169119_millennium-history-clipart-yugioh-millenium-puzzle.png" width="220" height="200" class="milleniumPuzzle2">

<style> @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap'); </style>
